.App {
  text-align: center;
 /*  font-family: "Open Sans", Sans-serif; */
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/* #1b890e verde botones 
#edb700 amarillo boton
#f0f0f0 fondo claro
#cacaca tipogrfia clara
#504f50 tipografia oscura
#504f50 fondo negro
#ebebeb fondo contraste mas oscuro

*/

